.footer-nav-wrap {
  background-color: #bf2525;
  color: white;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-footer a {
  color: white;
  text-decoration: none;
}

.site-footer a:hover {
  color: #ffffff;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}

.footer-image-container,
.ast-builder-layout-element.ast-flex.site-footer-focus-item {
  display: flex;
  align-items: center;
}

.footer-image {
  max-width: 200px;
  margin-left: auto;
}

.footer-social-inner-wrap {
  display: flex;
  margin-left: auto;
}

.footer-social-item-1,
.footer-social-item-2 {
  filter: grayscale(100%);
  font-size: 2rem;
}

.footer-social-item-1 {
  margin-left: 45rem;
}

.footer-social-item-2 {
  margin-left: 1rem;
}

.ast-footer-copyright {
  margin-left: 10rem;
}

.ast-nav-menu.ast-flex.astra-footer-vertical-menu.astra-footer-tablet-vertical-menu.astra-footer-mobile-vertical-menu {
  margin-left: 6rem;
}

#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #bf2525;
  color: white;
  border: none;
  border-radius: 0px !important;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  padding: 10px !important;
}

#scrollToTopBtn:hover,
#scrollToTopBtn:active {
  background-color: black;
  color: white;
}
